In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn import linear_model, tree, ensemble

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/OleksandrBal13/dz_pds1/main/dz35/petrol_consumption.csv')
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [7]:
data.dropna(axis=0, subset=['Petrol_Consumption'], inplace=True)

y = data.Petrol_Consumption          
X = data.drop(['Petrol_Consumption'], axis=1)

In [8]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
cnt = 1
for train_index, test_index in kf.split(X, y):
    print(f'Fold: {cnt}, Train set: {len(train_index)}, Test set: {len(test_index)}')
    cnt+=1

Fold: 1, Train set: 38, Test set: 10
Fold: 2, Train set: 38, Test set: 10
Fold: 3, Train set: 38, Test set: 10
Fold: 4, Train set: 39, Test set: 9
Fold: 5, Train set: 39, Test set: 9

In [9]:
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'RMSE: {rmse: .2f}')

In [10]:
score = cross_val_score(linear_model.LinearRegression(), X, y, cv=kf, scoring="neg_mean_squared_error")
print(f"Score for fold: {score}")
rmse(score.mean())

Score for fold: [ -4083.25587175 -10468.85637678  -2453.65941292  -3853.05818469
  -3173.21607154]
RMSE:  69.33

In [11]:
score = cross_val_score(linear_model.LinearRegression(), X, y, cv= kf)
print(f'Scores for each fold: {score}')
np.sqrt(score.mean())

Scores for each fold: [0.3913664  0.63392548 0.05222032 0.41270325 0.76147919]

0.671072968904877

K-кратна крос валідація дозволяє оцінити модель за декількома виборками.